* {
  font-family: "Helvetica";
}

h1 {
  display: flex;
  justify-content: center;
}

.users {
  display: flex;
  justify-content: center;
}

.box {
  width: 315px;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
  padding: 15px;
  margin: 10px;
}
.indBox {
  position: relative;
  width: 303px;
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
  right: 15px;
}
.indButton {
  left: 200px;
  color: rgb(97, 157, 138);
  background-color: aqua;
  border-radius: 5px;
}
.col {
  display: flex;
  columns: 100px 3;
}
.create {
  position: absolute;
  left: 200px;
  margin-top: 350px;
}
